<% layout('layouts/auth') -%>
<h1 class="auth__title"><%= heading %></h1>
<form method="post" action="<%= action %>" class="form">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <label class="field">
    <span><%= t('auth.newPassword') %></span>
    <input type="password" name="password" required minlength="8" autocomplete="new-password" autofocus>
  </label>
  <label class="field">
    <span><%= t('auth.confirmPassword') %></span>
    <input type="password" name="confirm" required minlength="8" autocomplete="new-password">
  </label>
  <button class="btn btn--primary btn--block" type="submit"><%= t('auth.savePassword') %></button>
</form>
